@model RegistroDoc.Entities.Movements

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro que deseas eliminar el registro?</h3>
<div>
    <h4>Registro de movimiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovementType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovementType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovementObservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovementObservation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inventory.InventoryId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MovementsId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="Inventory">Volver a la lista</a>
    </form>
</div>
