@model IEnumerable<RegistroDoc.Entities.Movements>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovementType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovementObservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovementType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovementObservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory.InventoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovementsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MovementsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovementsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
