@model RegistroDoc.Models.InvIndexViewModel

@{
    ViewData["Title"] = "Index";

    var userRole = "";
    if (User.IsInRole("SoloLectura"))
    {
        userRole = "SoloLectura";
    }
    if (User.IsInRole("RegistraLectura"))
    {
        userRole = "RegistraLectura";
    }
    if (User.IsInRole("Admin"))
    {
        userRole = "Admin";
    }
}

<h1>ADL Búsqueda</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Adicionar nuevo documento</a>
    </p>
}
<h5 style="color: red">@TempData["ErrorMsg"]</h5>
<div class="demo-container">
    <div id="inventoryGrid"></div>
</div>

<div id="MovementModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registrar Movimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Create" asp-controller="Movements" method="post">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Movement.MovementDate" class="control-label"></label>
                                    <div style="width: 100%" class="form-control" id="RegisterDate" />
                                    <span asp-validation-for="Movement.MovementDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Movement.MovementObservation" class="control-label"></label>
                                    <input id="MovementObservation" name="MovementObservation" class="form-control" />
                                    <span asp-validation-for="Movement.MovementObservation" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>
                            </div>
                            <input id="MovementType" name="MovementType" hidden value="0">
                            <input id="InventoryId" name="InventoryId" hidden value="0">
                            <input id="RegisterDateString" name="RegisterDateString" hidden value="0" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        var userRoleActionDocumentVisible = true;
        var userRoleRegisterDocumentVisible = true;
        $(function () {
            if ('@userRole' == "Admin") {
                userRoleActionDocumentVisible = true;
            }
            else {
                userRoleActionDocumentVisible = false;
            }

            if ('@userRole' == "Admin" || '@userRole' == "RegistraLectura") {
                userRoleRegisterDocumentVisible = true;
            }
            else {
                userRoleRegisterDocumentVisible = false;
            }
        });

        $(function () {

            var storeMaster = new DevExpress.data.CustomStore();

            $("#inventoryGrid").dxDataGrid({
                keyExpr: "inventoryId",
                dataSource: storeMaster,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                columnChooser: {
                    enabled: true
                },
                filterRow: {
                    visible: true,
                },
                columnFixing: {
                    enabled: true
                },
                headerFilter: { visible: true },
                paging: {
                    pageSize: 25
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [25, 50, 100]
                },
                selection: {
                    mode: "single"
                },
                grouping: {
                    autoExpandAll: true
                },
                headerFilter: {
                    visible: true
                },
                "export": {
                    enabled: true,
                    fileName: "Lista_Documentos" + Date.now(),
                    allowExportSelectedData: true
                },
                columns: [
                    {
                        dataField: "inventoryId",
                        visible: false
                    },
                    {
                        dataField: "number",
                        caption: 'N°'
                    },
                    {
                        dataField: "referenceCode",
                        caption: 'Codigo de referencia'
                    },
                    {
                        dataField: "documentTitle",
                        width: 240,
                        caption: 'Título del documento'
                    },
                    {
                        dataField: "series",
                        caption: 'Serie'
                    },
                    {
                        dataField: "volume",
                        caption: 'Tomo y/o '
                    },
                    {
                        dataField: "secondNumber",
                        caption: 'N°'
                    },
                    {
                        dataField: "extremeDates",
                        caption: 'Fechas extremas'
                    },
                    {
                        dataField: "installationUnit",
                        caption: 'Unidad de instalacion'
                    },
                    {
                        dataField: "numberSheets",
                        caption: 'Nº de folios'
                    },
                    {
                        dataField: "producerName",
                        caption: 'Nombre del productor'
                    },
                    {
                        dataField: "stateConservation",
                        caption: 'Estado de conservación'
                    },
                    {
                        dataField: "documentObservation",
                        caption: 'Observación del documento'
                    },
                    {
                        dataField: "shelf",
                        caption: 'Estante'
                    },
                    {
                        dataField: "bald",
                        caption: 'Balda'
                    },
                    {
                        dataField: "box",
                        caption: 'Nº Caja'
                    },
                    {
                        dataField: "Acciones",
                        caption: 'Acciones',
                        visible: userRoleActionDocumentVisible,
                        fixed: true,
                        fixedPosition: "right",
                        width: 165,
                        cellTemplate: function (container, options) {

                            var wrapper = $("<center>");
                            var DetailsContainer = $("<div>");
                            var EditContainer = $("<div>");
                            var DeleteContainer = $("<div>");

                            if ('@userRole' == "Admin") {
                                container.append(wrapper.append(DetailsContainer));

                                DetailsContainer.dxButton({
                                    hint: 'Detalles',
                                    type: "default",
                                    icon: 'fa fa-list-alt',
                                    width: 50,
                                    onClick: function () {
                                        var url = "@Url.Action("Details","Inventory")/" + options.data['inventoryId'];
                                        window.location.href = url;
                                    }
                                });

                                container.append(wrapper.append(EditContainer));

                                EditContainer.dxButton({
                                    hint: 'Editar',
                                    type: "default",
                                    icon: 'fa fa-edit',
                                    width: 50,
                                    onClick: function () {
                                        var url = "@Url.Action("Edit","Inventory")/" + options.data['inventoryId'];
                                        window.location.href = url;
                                    }
                                });

                                container.append(wrapper.append(DeleteContainer));

                                DeleteContainer.dxButton({
                                    hint: 'Eliminar',
                                    type: 'danger',
                                    icon: 'fa fa-trash',
                                    width: 50,
                                    onClick: function () {
                                        var url = "@Url.Action("Delete","Inventory")/" + options.data['inventoryId'];
                                        window.location.href = url;
                                    }
                                });
                            }

                        }
                    },
                    {
                        dataField: "Registros",
                        caption: 'Registros',
                        fixed: true,
                        visible: userRoleRegisterDocumentVisible,
                        fixedPosition: "right",
                        width: 115,
                        cellTemplate: function (container, options) {

                            var wrapper = $("<center>");
                            var IncomeContainer = $("<div>");
                            var OutflowContainer = $("<div>");
                            if ('@userRole' == "Admin" || '@userRole' == "RegistraLectura") {
                                container.append(wrapper.append(IncomeContainer));

                                IncomeContainer.dxButton({
                                    hint: 'Ingreso',
                                    type: "success",
                                    icon: 'fa fa-arrow-circle-left',
                                    width: 50,
                                    onClick: function () {
                                        var incomeData = { id: options.data.inventoryId, action: "Ingreso" }
                                        movementModal(incomeData);
                                    }
                                });

                                container.append(wrapper.append(OutflowContainer));

                                OutflowContainer.dxButton({
                                    hint: 'Egreso',
                                    type: "danger",
                                    icon: 'fa fa-arrow-circle-right',
                                    width: 50,
                                    onClick: function () {
                                        var outflowData = { id: options.data.inventoryId, action: "Egreso" }
                                        movementModal(outflowData)
                                    }
                                });
                            }
                        }
                    }
                ],
                masterDetail: {
                enabled: true,
                    template: function (container, options)
                    {
                    var currentDocumentData = options.data;
                        $("<div>")
                            .addClass("master-detail-caption")
                            .text("Historico del documento: "+currentDocumentData.documentTitle+", Codigo: "+currentDocumentData.referenceCode)
                            .appendTo(container);

                        $("<div>")
                            .dxDataGrid({
                                columnAutoWidth: true,
                                showBorders: true,
                                "export": {
                                    enabled: true,
                                    fileName: "Movimientos de: "+currentDocumentData.documentTitle+", Codigo: "+currentDocumentData.referenceCode+" Fecha: "+Date.now(),
                                    allowExportSelectedData: true
                                },
                                columns: [
                                {
                                    dataField: "movementsId",
                                    visible: false
                                },
                                {
                                    dataField: "movementType",
                                    caption: 'Tipo de movimiento'
                                },
                                {
                                    dataField: "movementObservation",
                                    caption: 'Observaciones'
                                },
                                {
                                    dataField: "movementDate",
                                    caption: 'Fecha',
                                    dataType: "date",
                                    format: 'dd/MM/yyyy HH:mm:ss'
                                },
                                {
                                    dataField: "inventoryId",
                                    visible: false
                                },
                                {
                                    dataField: "AccionesMovimiento",
                                    caption: 'Acciones Movimiento', 
                                    visible: userRoleRegisterDocumentVisible,
                                    cellTemplate: function (container, options) {

                                        var wrapper = $("<center>");    
                                        var EditContainer = $("<div>");
                                        var DeleteContainer = $("<div>");
                                        if ('@userRole' == "Admin" || '@userRole' == "RegistraLectura") {
                                            container.append(wrapper.append(EditContainer));

                                            EditContainer.dxButton({
                                                hint: 'Editar',
                                                type: "default",
                                                icon: 'fa fa-edit',
                                                width: 50,
                                                onClick: function () {
                                                    var url = "@Url.Action("Edit","Movements")/" + options.data['movementsId'];
                                                    window.location.href = url;
                                                }
                                            });

                                            container.append(wrapper.append(DeleteContainer));

                                            DeleteContainer.dxButton({
                                                hint: 'Eliminar',
                                                type: 'danger',
                                                icon: 'fa fa-trash',
                                                width: 50,
                                                onClick: function () {
                                                    var url = "@Url.Action("Delete","Movements")/" + options.data['movementsId'];
                                                    window.location.href = url;
                                                }
                                            });
                                        }

                                    }
                                },
                                ],
                                dataSource: new DevExpress.data.DataSource({
                                    store: new DevExpress.data.ArrayStore({
                                        key: "movementsId",
                                        data: currentDocumentData.movements
                                    }),
                                    filter: ["inventoryId", "=", options.key]
                                })
                            }).appendTo(container);
                    }
                }
            });

            $.ajax({
                url: '@Url.Action("LoadGrid", "Inventory")',
                type: "GET"
            }).done(function (response) {
                var dataSourceMaster = response;
                $("#inventoryGrid").dxDataGrid("instance").option("dataSource", dataSourceMaster);
            });

            

        });
    </script>
    <script>
        function movementModal(data) {
            $("#MovementModal").modal();
            document.getElementById("InventoryId").value = data.id;
            document.getElementById("MovementType").value = data.action;

            $(function () {
                $('#RegisterDateString').val(new Date());
                $("#RegisterDate").dxDateBox({
                    type: "datetime",
                    value: new Date(),
                    displayFormat: "dd/MM/yyy HH:mm",
                    onValueChanged: function (e) {
                        var newValue = String(e.value);
                        $('#RegisterDateString').val(newValue);
                    }
                });
            });
        }
    </script>
}